
    .status{
        padding: 5px;
        border-radius: 5px;
    }
    
    .Approved{
        color: green;
        background-color: rgba(0,128,0,0.151);
    }
    .Pending{
        color: goldenrod;
        background-color: rgba(189,189,3,0.103);
    }
    .name{
        width: 100%;
        margin-left: 10px;
        font-size: 20px;
    }
    .user{
        font-size: 20px;
       margin-left: 130px;
    }
    .mail{
        font-size: 20px;
        margin-left: 170px;
    }
    .tablecell{
        padding: 10px;
        display: flex;
        
    }
    .phone{
        font-size: 20px;
        margin-left: 300px;
    }
    .count{
        font-size: 28px;
    }
    
